@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'kalameh';
  src: url('/fonts/kalameh/woff2/KalamehWeb-Regular.woff2') format('woff2'),
    url('/fonts/kalameh/woff/KalamehWeb-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'kalameh';
  src: url('/fonts/kalameh/woff2/KalamehWeb-SemiBold.woff2') format('woff2'),
    url('/fonts/kalameh/woff/KalamehWeb-SemiBold.woff') format('woff');
  font-weight: 500;
  font-style: bold;
}

@layer base {
  select {
    @apply bg-red-600;
  }
  h2 {
    @apply bg-red-600;
  }
}

@layer utilities {
  .custom-class-name {
    color: #f0f;
    @apply bg-red-600;
  }
}

:root {
  --toastify-font-family: 'kalameh';
  --toastify-color-success: #14b8a6;
  --toastify-color-error: #f87171;
  --toastify-color-info: #6b7280;
  --toastify-toast-max-height: 80px;
}

.Toastify__toast-body > div:last-child {
  text-align: right;
}

.Toastify__toast-container--rtl .Toastify__toast-body > div:last-child {
  text-align: left;
}

.Toastify__toast-icon {
  margin: 0;
  margin-inline-end: 0 !important;
}

select {
  padding: 10px;
  margin: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

select option {
  padding: 10px;
  background: red;
  height: 50px;
  margin-top: 10;
}
.loading {
  position: relative;
  z-index: 1;
}

.loading::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.6);
  z-index: 1;
}
.custom-height {
  height: 45rem;
  min-height: auto;
  max-height: calc(65vh);
  /* height: ; */
}

.base-input .icon {
  color: red; /* Change as needed */
}

input[type='time']::-webkit-calendar-picker-indicator {
  filter: invert(0.4);
}

/* customize scroll */

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-thumb {
  background: #d1d5db;
  border-radius: 3px;
}

::-webkit-scrollbar-track {
  background: #f3f4f6;
}

/* Dark mode styles with Tailwind's dark class */
.dark ::-webkit-scrollbar-thumb {
  background: #4b5563;
}

.dark ::-webkit-scrollbar-track {
  background: #9ca3af;
}

h2 {
  background-color: initial;
}
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-box-shadow: 0 0 0px 1000px var(--input-box-shadow-color, #ffffff10)
    inset;
}
