@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'on';
  src: url('/src/assets/fonts/OnLight.woff2'),
    url('/src/assets/fonts/OnLight.woff');
}

@font-face {
  font-family: 'on';
  src: url('/src/assets/fonts/OnMedium.woff2'),
    url('/src/assets/fonts/OnMedium.woff');
}

@font-face {
  font-family: 'on';
  src: url('/src/assets/fonts/OnBold.woff2'),
    url('/src/assets/fonts/OnBold.woff');
}

@layer base {
  select {
    @apply p-8;
  }
  h2 {
    @apply bg-red-600;
  }
}

@layer utilities {
  .custom-class-name {
    color: #f0f;
    @apply bg-red-600;
  }
}

:root {
  --toastify-font-family: on;
}

select {
  padding: 10px;
  margin: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

select option {
  padding: 10px;
  background: red;
  height: 50px;
  margin-top: 10;
}
.loading {
  position: relative;
  z-index: 1;
}

.loading::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.6);
  z-index: 1;
}
/* styles.css */
.custom-scrollbar {
  scrollbar-color: rgb(20 184 166) rgb(229 229 229);
}

.custom-scrollbar::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgb(20 184 166);
  border-radius: 6px; /* Adjust the value as needed */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: rgb(229 229 229);
  border-radius: 6px; /* Adjust the value as needed */
}
input[type='radio'] {
  accent-color: teal;
}
.custom-height {
  height: 45rem;
  min-height: auto;
  max-height: calc(65vh);
  /* height: ; */
}
